# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc